container_commands:
  01_migrate:
    command: "django-admin.py makemigrations faces --no-input"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate faces --no-input"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: facecheck.settings
