{% extends "base.html" %}

{% block title %} Registered Agents {% endblock title %}
{% block content %}

<h2> List of registered end agent devices </h2>
<br><br>

<table>
    <tr>
        <th> Manager </th>
        <th> Name </th>
        <th> Location </th>
        <th> Inferences executed </th>
        <th> FP count </th>
        <th> FN count </th>
    <tr>
{% for item in targetlist %}
    <tr>
        <td> {{item.manager.username}} </td>
        <td> {{item.name}} </td>
        <td> {{item.location}} </td>
        <td> {{item.inf_count}} </td>
        <td> {{item.fp_count}} </td>
        <td> {{item.fn_count}} </td>
{% empty %}
<tr> <td colspan="6"> None </td></tr>
{% endfor %}
</table>

<br><br>
<a href='{% url 'add_agent' %}'> Register a new end agent </a>

{% endblock %}
