{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

Welcome!
<br><br><br><br>

The current classifier model was trained on {{mlmodelver.time_trained}}<br>
It was trained over <b>{{mlmodelver.total_photos}}</b> total photos of <b>{{mlmodelver.unique_persons}}</b> unique persons with <b>k={{mlmodelver.k_neighbors}}</b><br><br><br>

Now in the database there are <b>{{total_photos}}</b> total photos of <b>{{unique_persons}}</b> unique persons.

<br><br>
These are the stats of the current classifier model:<br>
Trained on: {{mlmodelver.time_trained}}<br>
Inferences performed: {{mlmodelver.inf_count}}<br>
False positives incurred: {{mlmodelver.fp_count}}<br>
False negatives incurred: {{mlmodelver.fn_count}}<br><br>

<br><br><br>

Retrain model?
<form method="post" action="{% url 'retrain_model' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Yes">
</form>

{% else %}

You're not logged in.
<br>
<br>
<a href="{% url 'login' %}"> Log In </a>

{% endif %}
{% endblock content %}
